.btn {
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
    padding: 8px 8px;
    font-size: 1rem;
    cursor: pointer;
}

.btn:hover {
    background: #1d49aa;
}

.btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.btn:disabled {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
}

.default {
    background: #4676d7;
}

.red {
    background: red;
}
.red:hover{
    background: darkred;
}
.red:focus {
    outline: none;
    box-shadow: 0 0 0 4px Salmon;
}